@use 'variables' as v;
@use 'mixins' as mx;

.content{
  margin-bottom: 20px;
}

.gallery{
  &__image-container{
    height: 300px;
    width: 100%;
    background-image: url('../images/image-product-1.jpg');
    background-position-y: -35px;
    background-size: cover;
  }

  &__previous{
    @include mx.button-gallery(187px, 17px, false);
  }

  &__next{
    @include mx.button-gallery(187px, 320px, false);
  }

  &__thumbnails{
    display:none;
    @media (min-width: 1115px){
      display: flex;
      justify-content: space-between;
    }
  }

  &__thumbnail{
    width: 90px;
    border-radius: 16px;

    @media (min-width: 1115px){
      &:hover{
        cursor: pointer;
        border: 2px solid v.$Orange;

      }
    }
  }

  @media (min-width: 1115px){
    width: 446px;
    &__image-container{
      background-position-y: 0px;
      height: 446px;
      margin-bottom: 33px;
      border-radius: 15px;
    }
  }
}