@use 'variables' as v;
@use 'mixins' as mx;

.input{
  height: 57px; 
  display: flex;
  justify-content: space-between;
  background-color: v.$Light-grayish-blue;
  padding: 0 5px;

  &__minus{
    @include mx.changeNumber(25px, 5px);
  }
  
  &__quantity{
    width: 100%;
    border: none;
    outline: none;
    text-align:center;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 700;
    font-family: v.$Font;
  }
  &__plus{
    @include mx.changeNumber(19px, 3px);
  }
}
